.formHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

.form {
    background-color: white;
    width: 50em;
    border-radius: 2em;
    padding: 2em 8em 6em 8em;
    box-shadow: 0 1em 2em #083D77;
}

.title {
    color: #03305f;
    font-size: 3em;
    margin-bottom: 1em;
}

.signupBtn {
    display: block;
    margin-left: auto;
    padding: 1em 3em;
    border: none;
    background-color: #083D77;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
    margin-top: 3em;
  }
  
.signupBtn:hover {
    background-color: #2669f8;
  }

.imageUpload{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0em;
    left: 0em;
    height: 110%;
    width: 120%;
    border: 0.2em solid #DADCE0;
    border-radius: 1em;
    font-size: 1em;
    padding: 2em 2em;
    outline: none;
    background: none;
    z-index: 1;
}

.errorMessage {
    position: absolute;
    top: 1.2em;
    right: 0.2em;
    padding: 0 0.4em;
    background-color: white;
    color: #eb0404;
    font-weight: 500;
    font-size: 1em;
}